[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "annmatrix"]
	path = annmatrix
	url = https://github.com/karoliskoncevicius/annmatrix
[submodule "basetheme"]
	path = basetheme
	url = https://github.com/karoliskoncevicius/basetheme
[submodule "matrixTests"]
	path = matrixTests
	url = https://github.com/karoliskoncevicius/matrixtests
